<div class="body-wrapper">

  <div class="image-wrapper boxborder">

    <img class="bodyrendering" src={{data.imageUrl}} alt="">
  </div>
</div>

<div style="  box-sizing: border-box; width:100vw; height:100vh; overflow-x: hidden;">
  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
    <a href="/project/list">Index</a>
  </nav>



  <div class="container boxborder">
    <div class="row">
      <div class="info">
        <ul>
          <li>
            <p class="city">{{data.city}}</p>
          </li>
          <li>
            <p>{{data.name}}</p>
          </li>
          <li>
            <p>{{data.street}}</p>
          </li>
          <li>
            <a href="{{data.infoLink}}">Related readings</a>
          </li>
        </ul>


        <form class="form" action="/project/comment/{{data._id}}" method="post">
          <input class="projectinput projectinput2" type="text" name="topic" id="topic" placeholder="Topic">
          <br><br>
          <input class="projectinput projectinput2" type="text" name="comment" id="comment" placeholder="Comment">
          <br><br>
          <button style="margin-top: -60px;" type="submit">Submit new comment</button>

        </form>
        <button id="hide">Hide comments</button>


      </div>


    </div>

  </div>

  <div class="img-wrapper">
    <div class="peoplebox">
      {{#each data.people}}
      {{!-- 
  {{../userId}}
  {{_user._id}} --}}
      <img class="drag2" style="left:{{xposition}}px; top:{{yposition}}px" id={{_id}} src="../../{{imgPath}}"
        width='80px' alt="">
      {{/each}}
    </div>

  </div>


  {{#each data.comments}}

  <div class="drag boxborder2" id="{{_id}}" style="left:{{xposition}}px; top:{{yposition}}px">

    <p class="topic">{{topic}} </p>
    <p>{{comment}}</p>

    <form action="/project/subcomment/{{_id}}" method="post">
      {{#each this.subcomment }}
      <p class="subcomment"><b class="userC"></b>{{_user.username}} responded:<br>{{subcomment}}</p>
      {{/each}}
      <input type="text" name="subcomment" id="response">
      <button type="submit">respond</button>

  </div>

  </form>

  {{/each}}

</div>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous">
  </script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
  type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.5/lottie.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous">
  </script>

<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
  type="text/css" />




{{!-- {{#each data.people}} --}}

{{!-- {{#if (eq ../userId _user._id)}}
  <img class="drag2" style="left:{{xposition}}px; top:{{yposition}}px" id={{_id}} src="../../{{imgPath}}" width='60px'
    alt=""> --}}
{{!-- {{else if (eq val2 val3)}}
  <p>ELSE IF Branch</p> --}}
{{!-- {{else}}
  <img class="drag" style="left:{{xposition}}px; top:{{yposition}}px" id={{_id}} src="../../{{imgPath}}" width='60px'
    alt="">
  {{/if}} --}}

{{!-- {{#ifCond ../userId  _user._id}}
  <img class="drag2" style="left:{{xposition}}px; top:{{yposition}}px" id={{_id}} src="../../{{imgPath}}" width='60px'
    alt="">
  {{else}}
  <img class="drag4" style="left:{{xposition}}px; top:{{yposition}}px" id={{_id}} src="../../{{imgPath}}" width='60px'
    alt="">
  {{/ifCond}} --}}

{{!-- {{#ifDiff ../userId _user._id}}
  <img class="drag4" style="left:{{xposition}}px; top:{{yposition}}px" id={{_id}} src="../../{{imgPath}}" width='60px'
    alt="">
  {{/ifDiff}} --}}

{{!-- {{/each}} --}}